<p>Cet été comme les précédents, plusieurs joueurs de qualité ont
déjà quitté la Ligue 1, principalement pour rejoindre l'Angleterre.
Lyon parviendra-t-il à faire revenir un talent en France ?
A la recherche d'un milieu offensif axial pour compenser le départ
de Yoann Gourcuff et la blessure de Clément Grenier, Jean-Michel Aulas
y travaille</p>